{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/pages/index.css" %}">
{% endblock %}

{% block main %}
    <div class="main__header">
        <h1 class="main__title">Рецепты</h1>
        <ul class="tags">
            <form method="GET">
                <div class="tags">
                    {% for tag, tag_value in form.tags.field.choices %}
                        <div class="tags__item">
                            <input
                                type="checkbox"
                                name="tags"
                                id="id_{{ tag.instance.name }}"
                                value="{{ tag.instance.name }}"
                                class="tags__checkbox tags__checkbox_style_{{ tag.instance.style }}"
                                {% if tag.instance.name in form.tags.value %} checked {% endif %}
                                onChange="this.form.submit()">
                            <label for="id_{{ tag.instance.name }}" class="tags__label">{{ tag.instance.human_name }}</label>
                        </div>
                    {% endfor%}
                </div>
            </form>
        </ul>
    </div>
    <div class="card-list">
        {% for recipe in object_list %}
            <div class="card" data-id="{{ recipe.pk }}">
                <a href="{% url 'recipe_detail' recipe.slug %}" class="link" target="_blank">
                    <img src="{{ recipe.image.url }}" %}" alt="{{ recipe.title }}" class="card__image">
                </a>
                <div class="card__body">
                    <a class="card__title link" href="#" target="_blank">{{ recipe.title }}</a>
                    <ul class="card__items">
                        {% for tag in recipe.tags.all %}
                            {% include 'recipes/snippets/recipe_tags.html' %}
                        {% endfor %}
                    </ul>
                    <div class="card__items card__items_column">
                        <p class="card__text">
                            <span class="icon-time"></span> {{ recipe.time_to_cook }} мин.
                        </p>
                        <p class="card__text">
                            <span class="icon-user"></span>
                            <a href="#" style="color: black">{{ recipe.author.get_full_name }} </a>
                        </p>
                    </div>
                </div>
                <div class="card__footer">
                    {% comment %}
                    <button class="button button_style_light-blue" name="purchpurchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                    {% endcomment %}
                </div>
            </div>
        {% endfor %}
    </div>
    <nav class="pagination" aria-label="Search results pages">
        <ul class="pagination__container">
            <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
            <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">1</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#">2</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#">3</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#">4</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#">5</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-right"></span></a></li>
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/components/MainCards.js" %}"></script>
    <script src="{% static "js/components/MainCards.js" %}"></script>

    <script src="{% static "js/components/Purchpurachases.js" %}"></script>

    <script src="{% static "js/components/CardList.js" %}"></script>
    <script src="{% static "js/components/Header.js" %}"></script>

    <script src="{% static "js/api/Api.js" %}"></script>
    <script src="{% static "js/indexNotAuth.js" %}"></script>
{% endblock %}
